html {
    font-size: 10px;
}
  
body {
    color: $app-black;
    font-family: $font-family-sans-serif;
}

a {
    color: $app-gray;
    &:hover {
        color: $app-black;
    }
}
  
.app {
    font-size: 1.8rem;
    background: $body-background;
    display: flex;
    flex-direction: column;
}

.menu {
    background: $app-black;
    padding: 10px 30px;
    width: 1200px;
    margin: 0 auto;
    color: $app-white;
}

.menu-link {
    display: inline-block;
    color: $app-gray;
    margin-left: 1.5rem;
    line-height: 3rem;
    text-decoration: none;
    &.menu-link--active, &:hover {
        color: $app-white;
    }
}


.page {
    width: 1200px;
    margin: 0 auto;
    background: $app-white;
    height: calc(100vh - 50px);
    padding: 20px;
    overflow: auto;
}

.home {
    text-align: center;
}

.public-api {
    padding: 20px;
}


.not-found {
    background-image: url('../assets/img/page-not-found.png');
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    width: 492px;
    height: 301px;
    margin: 10% auto;
}