
// font
$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// colors
$app-black: #000;
$app-white: #fff;
$app-gray: #969696;
$body-background: #f2f2f2;
